/* Fonts */
@font-face{font-family: 'Samsung Sharp Sans regular';font-style: normal; src: url(https://onedev135.github.io/resources/fonts/samsungsharpsans.ttf)}
@font-face{font-family:'Samsung Sharp Sans';font-style:bold;src:url(https://onedev135.github.io/resources/fonts/samsungsharpsans-bold.otf);}
@font-face{font-family: 'Product Sans';src: url(https://onedev135.github.io/resources/fonts/ProductSans-Light.ttf);}

/* @font-face{font-family: 'Urbanist'; font-style: normal; src: url(/resources/fonts/Urbanist/static/Urbanist-Regular.ttf);}
@font-face{font-family: 'Urbanist'; font-style: bold; src: url(/resources/fonts/Urbanist/static/Urbanist-Bold.ttf);} */
@font-face{font-family: 'Urbanist'; src: url(/resources/fonts/Urbanist/Urbanist-VariableFont_wght.ttf);}
@font-face{font-family: 'Outfit'; src: url(/resources/fonts/Outfit/Outfit-VariableFont_wght.ttf);}

/* Styles */
:root{
    --light-gradient: linear-gradient(90deg, rgb(0, 255, 90) 0%, rgb(0,255,230) 100%);
    --dark-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,0,107,1) 100%);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
    font-variation-settings: 'wght' 700;
    /* font-weight: 800; */
    /* background-color: black; */
    /* overflow-y: scroll; */
    background: var(--dark-gradient);
    overflow: auto;
}
body ::selection{
    color: black;
    background: white;
} 
body ::-moz-selection{
    color: black;
    background: white;
}
/* header{
    background: black;
} */

/* Scrollbar */
/* ::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(0deg, rgba(80,28,154,1) 0%, rgba(29,39,181,1) 100%);
    border-radius: 20px;
}
::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
} */

/* Navigation */
.header{
    background: rgba(0, 0, 0, 0);
    position: fixed;
    height: 1.5cm;
    z-index: 10;
    width: 100%;
    transition: all 0.25s;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;}
.logo{
    font-family: Urbanist;
    color: white;
    line-height: 1.5cm;
    font-size: 26px;
    font-weight: bold;
    font-variation-settings: 'wght' 800;
    letter-spacing: -.5px;
    text-decoration: none;
    margin-left: 25px;
    transition:all 0.25s;
}
.logo:hover{
    color: grey;
}
.navlinks{
    list-style: none;
    float: right;
    line-height: 1.5cm;
    margin: 0px;
    padding: 0;
}
.navlinks li{
    font-family: Product Sans light;
    display: inline-block;
    /* margin-right: 5px; */
    font-size: 20px;
}
.navlinks li a{
    color: white;
    text-decoration: none;
    padding: .75cm;
    transition: all 0.25s;
    border-radius: 10px;
}
.navlinks li a:hover{
    background-color: rgb(80, 80, 80);
}
.menu-btn{
    color: white;
    font-size: 40px;
    float: right;
    line-height: 70px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#isChecked{
    display: none;
}

/* Body */
main{
    height: 100vh;
}
.body-content{
    color:white;
    /* background: var(--dark-gradient); */
    text-align: center;
    top: 49%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.body-content h1{
    font-size: 72px;
    border-bottom: 5px;
    padding:none;
    width: 100%;
}
.body-content p{
    font-size: 35px;
    font-family: 'Product Sans',sans-serif;
}
.content{
    font-family: 'Product Sans',sans-serif;
    margin: 2cm;
}
.projects{
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    position: absolute;
    top: 100vh;
    height: 100vh;
    border: 0;
}

/* @ Media */
@media (max-width:908px){.navlinks{/*overflow-x: hidden;*/position: fixed;width: 100%;height: 100vh;text-align: center;background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,0,107,1) 100%);right: -100%;transition: all 0.25s;}.navlinks li{display: block;}.navlinks li a{font-size: 25px;}.menu-btn{display: block;}#isChecked:checked ~ .navlinks{right: 0;}}
@media (max-width:245px){.logo{margin-left: 10px;font-size: 25px;}.menu-btn{margin-right: 10px;font-size: 20px;}}
@media (max-width){}